# Format : UUID  MAPPER_NAME  MOUNT_POINT
# Lignes vides et commentaires (#) ignorés

# xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx  macleusb    /mnt/macleusb
# yyyyyyyy-yyyy-yyyy-yyyy-yyyyyyyyyyyy  cle-backup  /mnt/backup
# zzzzzzzz-zzzz-zzzz-zzzz-zzzzzzzzzzzz  cle-cours   /mnt/cours
d0c27ea3-caa2-4ab2-9073-527c4d5f5080  cle-cours1   /mnt/cours1